.icon_5 {
  color: #32b232;
}
.icon_6 {
  color: #3cbc3c;
}
.icon_7 {
  color: #46c646;
}
.icon_8 {
  color: #50d050;
}
.icon_9 {
  color: #5ada5a;
}
.icon_10 {
  color: #64e464;
}
.icon_11 {
  color: #6eee6e;
}
.icon_12 {
  color: #78f878;
}
